
{{!-- for passport errors --}}

{{#if error}}
    <div class="alert alert-danger mx-5 my-1">{{error}}</div>
{{/if}}

{{#each errors}}
    <div class="alert alert-danger mx-5 my-1">{{this}}</div>
{{/each}}

