<div class="container">
        <div class="jumbotron m-5">
        <h3 class="display-4">About Us</h3>
        <hr class="my-4">
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum facere, repudiandae totam, repellat illum ea eos tenetur tempora dolores dolore pariatur id placeat enim voluptas, accusamus eius excepturi harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore repellat rem porro! Voluptatum, voluptas. Culpa eos nostrum sint deleniti sapiente, quae magni at doloribus! Esse cum ducimus in qui sed!</p>
        <hr class="my-4">
        <p>V.1.0.0</p>
    </div>
</div>