<div class="container h-100 ">
    <div class="row my-auto mx-auto p-5">
        <div class="card card-body border-primary bg-light text-primary">
            <form action="/ideas" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Enter Idea Title">
                </div>
                <div class="form-group">
                    <label for="idea">Idea:</label>
                    <textarea  name="idea" id="idea" class="form-control" placeholder="add your idea here ..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



