<div class="container">
    {{#each ideas}}
    <div class="card bg-light text-blue border-primary m-2">
        <div class="card-body">
            <h5 class="card-title">
                {{this.title}}
            </h5>
            <p class="card-text">
                {{this.detailes}}
            </p>
        </div>
    </div>
    {{/each}}
</div>